<div class="container mt-3 mb-5 card p-3 pt-4">
  <h1 class="text-center mb-2"> Welcome To Angular Cards </h1>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img class="headerImage" src="./assets/images/back_cards-07.png"/>
    <button class="btn btn-primary shuffle m-3" (click)="shuffle()">Shuffle</button>
  </div>
  <div class="d-flex flex-row flex-wrap justify-content-center align-items-center" *ngIf="deck">
    <app-card *ngFor="let card of deck" [card]="card">
    </app-card>
  </div>
</div>
